<div class="reset_form" style="height: 310px">
  <div class="reset_form_header">Change Password</div>
  <div class="reset_form_text">Pick a strong password</div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <input
      type="password"
      formControlName="password"
      placeholder="New password"
    />

    <input
      type="password"
      formControlName="confPassword"
      placeholder="Confirm new password"
      bottom
    />
    <div class="error_text">{{ error }}</div>
    <div class="reset_form_btns">
      <a routerLink="/auth/login" class="gray_btn">Cancel</a>
      <button type="submit" class="blue_btn">Continue</button>
    </div>
  </form>
</div>
