<div class="left_home scrollbar">
  <a routerLink="/profile" class="left_link hover2">
    <img [src]="user?.picture" alt="" />
    <span> {{ user?.first_name }}{{ user?.last_name }}</span>
  </a>
  <a routerLink="/friends" class="left_link hover2">
    <img src="../../../../assets/styles/icons/left-side/friends.png" alt="" />
    <span>Find friends</span>
  </a>
  <a routerLink="/messenger" class="left_link hover2">
    <img src="../../../../assets/styles/icons/left-side/messenger.png" alt="" />
    <span>Messanger</span>
  </a>
</div>
