<header>
  <div class="header_left">
    <a routerLink="/" class="header_logo">
      <div class="circle" *ngIf="darkTheme; else lightLogo">
        <img src="../../../../assets/angularSvg/logo/logo.png" alt="" />
      </div>
      <ng-template #lightLogo>
        <img src="../../../../assets/angularSvg/logo/darkLogo.png" alt="" />
      </ng-template>
    </a>
    <div class="search search1">
      <i
        class="fa-solid fa-magnifying-glass"
        (click)="handleShowSearchMenu()"
      ></i>
      <input type="text" placeholder="Search Your friends" class="hide_input" />
      <div *ngIf="showSearchMenu">
        <app-search-menu
          (setShowSearchMenu)="HandleShowSearchMenu()"
        ></app-search-menu>
      </div>
    </div>
  </div>
  <div class="header_middle">
    <a
      [routerLink]="['/']"
      class="middle_icon"
      [ngClass]="page === 'home' ? 'active' : 'hover1'"
      (click)="getAllPosts()"
    >
      <i
        *ngIf="page === 'home'"
        class="fa-solid fa-house text-2xl"
        style="color: #005eff"
      ></i>
      <i
        *ngIf="page !== 'home'"
        class="fa-solid fa-house text-2xl"
        style="color: #686b70"
      ></i>
    </a>
    <a
      [routerLink]="['/friends']"
      class="middle_icon"
      [ngClass]="page === 'friends' ? 'active' : 'hover1'"
    >
      <i
        *ngIf="page === 'friends'"
        class="fa-solid fa-user-group text-2xl"
        style="color: #005eff"
      ></i>
      <i
        *ngIf="page !== 'friends'"
        class="fa-solid fa-user-group text-2xl"
        style="color: #808080"
      ></i>
    </a>
  </div>
  <div class="header_right">
    <a
      class="profile_link"
      [ngClass]="{ active_link: page === 'profile' }"
      (click)="navigateToProfile()"
    >
      <img [src]="user?.picture" alt="" />
      <span>{{ user?.first_name }}</span>
    </a>
    <div class="">
      <app-drop-down></app-drop-down>
    </div>
  </div>
</header>
