<div class="contacts_wrap">
  <div class="contacts_header">
    <div class="contacts_header_left">Contacts</div>
  </div>
  <div class="splitter1"></div>
  <div class="contacts_list" *ngFor="let friend of friends">
    <div class="contact hover3 flex flex-row justify-between items-center">
      <a routerLink="/profile" class="contact_img">
        <img [src]="friend?.picture" class="contact_circle" alt="" />
      </a>
      <span> {{ friend?.first_name }} {{ friend?.last_name }} </span>
      <span>
        <img
          src="../../../../assets/styles/icons/right-side/addFriend.png"
          class="filter_blue addFriend_img"
          alt=""
          (click)="handleAddFriend(friend._id)"
        />
      </span>
    </div>
  </div>
</div>
