/*---Header left-----*/
.header_left {
  position: absolute;
  left: 25px;
  top: 0;
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 5px 1rem;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bg-forth);
  padding: 10px 32px 10px 10px;
  border-radius: 50px;
  cursor: text;
}
.search input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 15px;
  font-family: inherit;
}
.search input::placeholder {
  transform: translateY(-1px);
}
/*---Header left-----*/

/*---Search menu-----*/
.search_area {
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  background: var(--bg-primary);
  box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  min-height: 400px;
  max-height: 70vh;
  padding: 8px 16px 10px 6px;
}
.search_wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}
.search_area .search {
  padding: 10px 44px 10px 12px;
  width: 252px;
  gap: 4px;
}
.search_area .search input {
  padding-left: 4px;
  color: var(--color-primary);
}
.search_area .search svg {
  transform: translateY(1px);
}
.search_area .search input::placeholder {
  transform: translateY(-2px);
}
.search_history {
  width: 100%;
}
.search_history_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
}
.search_history_header span {
  font-weight: 600;
  font-size: 16px;
}
.search_history_header a {
  cursor: pointer;
  color: var(--blue-color);
}
/*---Search menu-----*/

/*---Search results-----*/
.search_results {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}
.search_user_item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.search_user_item img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.search_user_item span {
  font-weight: 600;
  font-size: 14px;
}
/*---Search results-----*/

/*---responsive----------*/
@media (max-width: 1295px) {
  .middle_icon {
    width: 90px;
  }
}
@media (max-width: 1130px) {
  .middle_icon {
    width: 70px;
  }
}
@media (max-width: 1040px) {
  .search1 {
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
  }
  .search1 input {
    display: none;
  }
  .header_middle {
    transform: translateX(-15%);
  }
}
@media (max-width: 945px) {
  .header_middle {
    transform: translateX(-22%);
  }
}
@media (max-width: 850px) {
  .header_middle {
    transform: translateX(-30%);
  }
  .middle_icon:nth-child(5) {
    display: none;
  }
}
@media (max-width: 770px) {
  .header_middle {
    transform: translateX(-37%);
  }
  .middle_icon:nth-child(4) {
    display: none;
  }
}
@media (max-width: 720px) {
  .middle_icon:nth-child(3) {
    display: none;
  }
}
/*---responsive----------*/
@media (max-width: 620px) {
  .profile_link {
    display: none;
  }
  .all_menu {
    width: 485px;
  }
  .all_left {
    width: 250px;
  }
}
@media (max-width: 550px) {
  .middle_icon:nth-child(1) {
    display: none;
  }
  .header_middle {
    transform: translateX(-20%);
  }
}
@media (max-width: 505px) {
  .all_menu {
    width: 340px;
    right: -9rem;
  }
  .all_menu_wrap {
    grid-template-columns: 1fr;
  }
  .all_left {
    width: 100%;
  }
  .all_right {
    position: relative;
    width: 100%;
    padding-left: 3rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 400px) {
  .header_right .circle_icon:nth-child(3) {
    display: none;
  }
  .menu {
    width: 290px;
  }
  .all_menu {
    width: 310px;
    left: -10rem;
  }
  .search_area {
    width: 310px;
  }
}

/*---responsive----------*/

/*----Active header----*/
.active_header {
  background: var(--light-blue-color);
}
.active_header svg {
  fill: var(--blue-color);
}
.active_link {
  background: var(--light-blue-color);
  color: var(--blue-color);
}
/*----Active header----*/
