<div class="profile_img_wrap">
  <div class="profile_w_left">
    <div class="profile_w_img">
      <div
        class="profile_w_bg"
        [ngStyle]="{
          'background-size': 'cover',
          'background-image': 'url(' + profile.picture + ')'
        }"
      ></div>
      <div class="profile_circle hover1">
        <i class="fa-solid fa-camera" style="color: #0e4fbe"></i>
      </div>
    </div>
    <div class="profile_w_col">
      <div class="profile_name">
        {{ profile.first_name }} {{ profile.last_name }}
        <div class="othername">Othername</div>
      </div>
      <div class="profile_friend_count"></div>
      <div class="profile_friend_imgs"></div>
    </div>
  </div>
  <div class="profile_w_right">
    <div class="blue_btn">
      <img src="../../../icons/plus.png" alt="" class="invert" />
      <span>Add to story</span>
    </div>
    <div class="gray_btn">
      <i class="fa-solid fa-pen-to-square" style="color: #1053c6"></i>
      <span>Edit profile</span>
    </div>
  </div>
</div>
