<div class="createPost">
  <div class="createPost_header">
    <img [src]="user?.picture" alt="" />
    <div class="open_post hover2" (click)="setVisible()">
      What's on your mind, {{ user?.first_name }}
    </div>
  </div>
  <div class="create_splitter"></div>
  <div class="createPost_body">
    <div></div>
    <div class="createPost_icon hover1" (click)="setVisible()">
      <i class="fa-solid fa-image" style="color: #005eff"></i> Photo/Video
      <!-- Use an Angular component for Photo/Video -->
    </div>
    <div></div>
  </div>
</div>
